@tailwind base;
@tailwind components;
@tailwind utilities;

/* box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  height: 100vh;
  overflow: hidden;
}

.swal2-container {
  z-index: X;
}
h1 {
  font-size: 36px;
}

.active {
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
